---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import SolutionBlocks from "../components/SolutionBlocks.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Solutions | KAZDRONE Autonomous Systems">
    <Navbar />
    <main class="pt-20">
        <SolutionBlocks />
        <Contact />
    </main>
    <Footer />
</Layout>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
    body {
        font-family: "Inter", sans-serif;
    }
</style>
